{% extends 'base.html.twig' %}

{% block title %}MANGA SEARCH | resultats de recherche{% endblock %}

{% block content %}

<div class="container">

    {% for post in posts %}
        <h1>{{ post.titre }} </h1>
        <p>{{ post.contenu }}</p>
        <p>{{ post.membre.pseudo }}</p>
        <a href="{{ path('defaut_detail', {
            'slug' :post.slug,
            'id'   :post.id
        }) }}">{{ post.titre }}</a>

    {% endfor %}

</div>

{% endblock %}

